<h1><%= @board.title %> </h1>
<p> <%= @board.contents %> </p>

<% if @board.likes.count > 0 %>
<!-- 좋아요가 이미 눌려있을 때 -->
  <button type="button" class="btn btn-primary" id="like">
    <i class="fas fa-thumbs-up"></i> 좋아요 (<span id="like-count"><%= @board.likes.count %></span>)
  </button>
<% else %>
<!-- 좋아요를 새로 눌렀을 때 -->
  <button type="button" class="btn btn-outline-primary" id="like">
  <i class="fas fa-thumbs-up"></i> 좋아요 (<span id="like-count"><%= @board.likes.count %></span>)
  </button>
<% end %>
<a href="/" class="btn btn-outline-success"><i class="fas fa-home"></i> 홈으로 </a>
<script>
  $(function(){
    //1. 좋아요 버튼을 클릭하면
    $('#like').on('click', function(){
      $.ajax({
        url: "/boards/<%= @board.id %>/like",
        method: 'POST'
      });

  });
  });
</script>
